/*Fondo general*/
body {
  background: url('../IMG/fondo.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin-top: 100px; /*Para compensar la barra fija*/
  height: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
  overflow-y: auto;   /* Permite el scroll vertical si es necesario */
}

/*Barra de navegación*/
.navbar{
  transition: background-color 0.3s;
}

.navbar-nav .nav-link {
  margin-left: 50px;
}

.bg-morado{
  background-color: #6a1b9a !important;
}
/*---------------------------------------------------------------------------------------------*/
.header-section{
  display: flex;
  justify-content: center;
}

.header-text {
  text-align: center;
  padding: 10px;
}

.btn-hover:hover, .img-hover:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}
.circle-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #6f42c1; /* Color morado */
}

.buttons-container {
  display: flex;
  gap: 200px; /* Espacio entre los botones */
  justify-content: center;
}

.btn-primary{
  width: 130px;
  height: 40px;
}

/* Personaliza la cabecera del modal */
.modal-header {
  background-color: #8b4caf; /* Verde ecológico */
  color: white;
  border-bottom: none;
}

/* Personaliza el cuerpo del modal */
.modal-body {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  color: black;
}

/* Botón de cierre personalizado */
.btn-close {
  background-color: transparent;
  border: none;
}

/* Estilo del botón de cerrar en el pie */
.modal-footer .btn-secondary {
  background-color: #8b4caf;
  color: white;
  border: none;
}

.modal-footer .btn-secondary:hover {
  background-color: #45a049;
}
