/*Fondo general*/
body {
    background: url('../IMG/fondo.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin-top: 100px; /*Para compensar la barra fija*/
    height: 100%;
    overflow-x: hidden; /* Evita el scroll horizontal */
    overflow-y: auto;   /* Permite el scroll vertical si es necesario */
  }

  /*Barra de navegación*/
  .navbar{
    transition: background-color 0.3s;
  }
  
  .navbar-nav .nav-link {
    margin-left: 50px;
  }

  .bg-morado{
    background-color: #6a1b9a !important;
  }
  
  .header-seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    box-sizing: border-box;

  }
  
  .header-text {
    text-align: left;
    padding: 70px;
  }

  .carousel-inner img {
    max-height: 400px;
    object-fit: cover;
  }
  
  .button-line-container {
    display: flex;
    align-items: center; /* Alinea la línea y el botón verticalmente */
    gap: 5px; /* Espacio entre el botón y la línea */
  }

  .btn-custom {
    background-color: transparent;
    color: white;
    border-color: white;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    margin-right: 200px;
    transition: all 0.3s ease; /* Animación suave al cambiar estilos */
  }
  
  .btn-custom:hover {
    transform: scale(1.1); /* Hace que el botón sobresalga */
    border-color: transparent; /* Cambia el color del borde a transparente */
    background-color: #6a1b9a; /* Cambia el color de fondo para dar un efecto visual extra */
  }

  .line {
    flex-grow: 1; /* Permite que la línea ocupe todo el espacio disponible */
    height: 2px; /* Grosor de la línea */
    background-color: white; /* Color de la línea */
  }


  .climate-info {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

  .custom-text {
    font-size: 2.5rem; /* Ajusta el tamaño del texto aquí */
    font-weight: bold;
    color: white;
    text-align: left;
    padding: 20px;
}

  .custom-paragraph {
    font-size: 1.2rem ;
    text-align: left;
    line-height: 1.6;
    margin: 0; /* Elimina márgenes adicionales */
    padding-left: 20px; /* Relleno solo en el lado izquierdo */
    padding-right: 20px; /* Relleno solo en el lado derecho */
    margin-bottom: 20px; 
    color: #ffffff;
  }

  canvas {
    width: 600px !important;  /* Ancho fijo (ajústalo según lo necesites) */
    height: 300px !important; /* Altura fija (ajústalo según lo necesites) */
    margin-top: 20px;   /* Espacio superior entre los gráficos */
    margin-bottom: 20px; 
    display: block;     /* Para que el canvas se comporte como bloque */
    margin-left: auto;  /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
  }

  

 /* Estilo de los botones */
.custom-button {
  background-color: #9b59b6; /* Lila atractivo */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #8e44ad; /* Un tono más oscuro de lila */
}










